@import '../../assets/scss//core//variables/vms-variable';
.map__style {
    // position: relative !important ;
    .ant-radio-group {
        display: flex;
        align-items: center;
        .ant-radio-button-wrapper {
            padding: 0.625rem;
            height: 4rem ;
            width: 4rem ;
            background-color: $vms-status;
            &:hover {
                background-color: $vms-only-white;
            }
        
            .ant-image {
                width: 100%;
                height: 100%;
            }
            &>span:last-child {
                display: flex;
                width: 100%;
                height: 100%;
                .ant-image { 
                    img {
                        
                        // filter: invert(50%) sepia(7%) saturate(7560%) hue-rotate(181deg) brightness(80%) contrast(210%);
                    }
                }

                
            }
            &:first-child {
                border-radius: 4px 0 0 4px;
            }
        }

        .ant-radio-button-wrapper-checked {
            background-color: $vms-main-blue-primary;
            &>span:last-child {
                display: flex;
                width: 100%;
                height: 100%;
                .ant-image { 
                    img {
                        filter: invert(95%) sepia(99%) saturate(6481%) hue-rotate(176deg) brightness(102%) contrast(102%);
                        // filter: invert(50%) sepia(7%) saturate(7560%) hue-rotate(181deg) brightness(80%) contrast(210%);
                    }
                }  
            }
        }
        
    }
}