@import "../../assets/scss/core/variables/vms-variable";
.modal__add--cameraGroup {
  width: 32vw !important;
  .ant-modal-content {
    border-radius: 12px !important;
    background-color: $vms-bg-primary;

    .ant-modal-header {
      padding: 0;
      // background-color: $vms-bg-sub;
      background-color: $vms-bg-primary;
      .ant-modal-title {
        border-radius: 12px 12px 0 0;
        background-color: $vms-bg-primary;
        color: $vms-status;
        text-align: center !important;
        font-size: 2rem;
        padding: 0;

      }
    }
    .ant-modal-body {
      // background-color: $vms-bg-sub;
      background-color: $vms-bg-primary;
      padding: 14px 32px 20px 32px;
      border-radius: 0 0 12px 12px;
      label {
        color: $vms-soft-statuts;
      }
      .ant-form-item-control-input {
        border-radius: 6px;
        input {
          background-color: $vms-bg-sub !important;
          // background-color: $vms-bg-primary !important;
          &::placeholder {
            color: $vms-status-05 !important;
          }
        }
      }

      .btn--submit {
        text-align: center;
        margin-top: 20px;
        // margin: 24px;

        button {
          background-color: $vms-main-blue-primary;
          border: none;
          border-radius: 4px;
          padding: 8px 16px;
          height: 100%;

          span {
            color: $vms-soft-statuts;
            line-height: 24px;
          }
        }
      }
    }
  }
}
