@import "../../assets/scss/core/variables/vms-variable";
@import "../../assets/scss/core/mixins//vms-mixins";

//css template tab-ant
.tabs__container--camera p {
  margin: 0;
}
.tabs__container--camera > .ant-tabs-card .ant-tabs-content {
  // height: 120px;
  margin-top: -16px;
}
.tabs__container--camera
  > .ant-tabs-card
  .ant-tabs-content
  > .ant-tabs-tabpane {
  background: $vms-bg-primary;
}
.tabs__container--camera > .ant-tabs-card > .ant-tabs-nav::before {
  display: none;
}
.tabs__container--camera > .ant-tabs-card .ant-tabs-tab,
[data-theme="compact"] .tabs__container--camera > .ant-tabs-card .ant-tabs-tab {
  background: transparent;
  border-color: transparent;
}
.tabs__container--camera > .ant-tabs-card .ant-tabs-tab-active,
[data-theme="compact"]
  .tabs__container--camera
  > .ant-tabs-card
  .ant-tabs-tab-active {
  background: #fff;
  border-color: #fff;
}
#components-tabs-demo-card-top .code-box-demo {
  padding: 24px;
  overflow: hidden;
  background: #f5f5f5;
}
[data-theme="compact"]
  .tabs__container--camera
  > .ant-tabs-card
  .ant-tabs-content {
  height: 120px;
  margin-top: -8px;
}
[data-theme="dark"] .tabs__container--camera > .ant-tabs-card .ant-tabs-tab {
  background: transparent;
  border-color: transparent;
}
[data-theme="dark"] #components-tabs-demo-card-top .code-box-demo {
  background: #000;
}
[data-theme="dark"]
  .tabs__container--camera
  > .ant-tabs-card
  .ant-tabs-content
  > .ant-tabs-tabpane {
  background: #141414;
}
[data-theme="dark"]
  .tabs__container--camera
  > .ant-tabs-card
  .ant-tabs-tab-active {
  background: #141414;
  border-color: #141414;
}

.tabs__container--camera {
  .ant-tabs-nav-operations {
    display: none !important;
  }
  .ant-tabs-nav-operations-hidden {
    position: static !important;
  }
}

.tabs__container--camera {
  flex: 1;
  .card {
    border-bottom: 1px solid gray;
  }

  .ant-tabs-nav-list {
    background-color: #232323;
    width: 100%;

    .ant-tabs-tab {
      border-top: 1px solid rgba(234, 240, 247, 0.1);
      border-right: 1px solid rgba(234, 240, 247, 0.1);
      border-left: 1px solid rgba(234, 240, 247, 0.1);
      border-bottom: 1px solid $vms-bg-sub;
      width: 50%;
      color: $vms-status;
      display: inline;
      text-align: center !important;
      border-radius: 4px 4px 0 0 !important;
    }

    .ant-tabs-tab-active {
      background-color: $vms-main-blue-primary;
      border-bottom: 1px solid $vms-main-blue-primary !important;

      .ant-tabs-tab-btn {
        color: $vms-status;
      }
    }
  }
}

//begin: zone
.tabs__container {
  // width: 100%;
  position: relative;
  display: flex;
  .tabs__container--camera {
    .ant-tabs-nav {
      margin-bottom: 0;
      width: 26vw;
      .ant-tabs-tab {
        line-height: 28px;
        padding: 12px 0;
        font-size: 16px;
        font-weight: 600;
        color: $vms-soft-statuts;
      }

      .ant-tabs-tab-active {
        background-color: $vms-main-blue-primary;
      }
    }

    .ant-tabs-content {
      margin-top: 0;
    }

    .ant-tabs-tabpane {
      background-color: $vms-bg-primary !important;
      border-radius: 0 0 4px 4px;
      padding: 4px 0 20px 0;

      &.CameraGroup {
        width: 26vw;
        height: calc(190px + 5.5vh + 53.2vh);

        // overflow: auto;
        background-color: $vms-bg-3 !important;
        border: 1px solid rgba(234, 240, 247, 0.1);
        padding: 0;

        .CameraGroupSearch {
          // width: 100%;
          display: flex;
          align-items: center;
          margin: 20px 16px;
          justify-content: space-between;
          .ant-select-selector {
            background-color: $vms-bg-sub;
          }

          button {
            width: 4rem;
            height: 4rem;
            padding: 8px;
            background-color: $vms-main-blue-primary;
            margin-left: 16px;
            span {
              font-size: 22px;
              width: 22px;
            }
          }
        }
      }

      .treeData {
        height: calc(78.4vh + 58px);
        overflow: auto;
        background-color: $vms-bg-3;
        //begin:css scroll bar
        @include scrollbar-styling(12px,12px);

        //end:css scroll bar
        .ant-tree-list {
          background-color: $vms-bg-3;
          .ant-tree-list-holder-inner {
            .ant-tree-treenode {
              padding: 0;
              position: relative;
              width: 100%;

              .ant-tree-switcher {
                > .anticon {
                  position: absolute;
                  top: 50%;
                  right: 50%;
                  transform: translate(50%, -50%);
                }
              }

              .ant-tree-node-content-wrapper {
                width: 100%;
                &:hover {
                  background-color: #232323;
                }

                .ant-tree-title > div {
                  // font-weight: 600;
                  justify-content: space-between;
                  width: 100%;

                  .titleGroup {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    max-width: 16vw;
                    &:hover {
                      background-color: $vms-main-blue-primary;
                      color: $vms-soft-statuts;
                      border-radius: 4px;
                      padding-left: 4px;
                      padding-right: 4px;
                      transition: 0.3s;
                    }
                  }

                  .tools--edit {
                    // width: 64px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 5.8vw;
                      svg {
                        // float: right;
                        font-size: 20px;
                        color: $vms-status;
                        &:hover {
                          color: $vms-main-blue-primary;
                        }
                      }
                  }
                }
              }
            }
            .ant-tree-node-selected {
              background-color: #232323;
              .titleGroup {
                color: $vms-main-blue-primary;
                &:hover {
                  background-color: #232323;
                  color: $vms-main-blue-primary;

                  // color: $vms;
                }
              }
            }
          }
        }
      }
    }
  }

  .tabs__list--camera {
    margin-top: 54px;
    // position: absolute;
    // top: 54px;
    // left: 25vw;
    .ant-table {
      width: 37.5vw;

      // height: 88vh;
      margin: 0;
      overflow: hidden;
    }
  }
}

.ant-popconfirm {
  .ant-popover-arrow {
    background-color: $vms-bg-primary;
  }
  .ant-popover-inner {
    background-color: $vms-bg-primary;
    border-radius: 12px;
    .ant-popover-message {
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        position: relative;
        color: $vms-red-drak-mode;
        font-size: 40px;
        margin-bottom: 20px;
      }
      div {
        color: $vms-soft-statuts;
        max-width: 180px;
        text-align: center;
        margin-bottom: 5px;
        padding: 0;
        font-size: 13px;
      }
    }

    .ant-popover-buttons {
      text-align: center;

      button:first-child {
        background-color: transparent;
        height: 100%;
        border-radius: 4px;
        border: 1px solid $vms-main-blue-primary;
        span {
          color: $vms-main-blue-primary;
          font-size: 13px;
        }
        // padding: 4px 8px;
      }

      button:last-child {
        background-color: $vms-main-blue-primary;
        height: 100%;
        border-radius: 4px;
        border: 1px solid $vms-main-blue-primary;
        span {
          color: $vms-soft-statuts;
          font-size: 13px;
        }
        // padding: 4px 8px;
      }
    }
  }
}
