#print-me {
  color: #d0e5ff;
}
.fine {
  display: none;
}
/* page */
@page {
  size: auto;
}
.video-link:hover {
  color: #d0e5ff !important;
}
@media all {
  .pagebreak {
    display: none;
  }
}
@media print {
  #print-me {
    color: #000;
  }
  .pagebreak {
    page-break-before: always;
  }
  .violation_video {
    display: none;
  }
  .fine {
    display: inline-block;
  }
}
