@import "../../../../assets/scss/core/variables/vms-variable";
@import "../../../../assets//scss/core//mixins/vms-mixins";

.BarChart {
    width: 100%;
    background-color: $vms-bg-sub;

    &__title {
        padding: 15px;
        justify-content: space-between;
        align-items: center;
        display: flex;
    }
    &__no-data {
        padding: 150px 0;
        display: flex;
        justify-content: center;
        &__title {
            font-size: 20px;
        }
    }
}