@import "../../../../assets/scss/core/variables/vms-variable";
@import "../../../../assets//scss/core//mixins/vms-mixins";

.BarChart {
  width: 100%;
  background-color: $vms-bg-sub;
  padding: 25px 20px;

  .Chart__title {
    padding: 15px 5px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
  }

  .export {
    display: flex;
    flex-wrap: nowrap;
  }

  .ExportBarChartReport {
    display: flex;
  }
}

[dir] .Chart__title {
  padding: 15px 5px;
}
