.ResponsiveContainer {
  padding-top: 50px;
}

@import "../../../../assets/scss/core/variables/vms-variable";
@import "../../../../assets//scss/core//mixins/vms-mixins";

.Chart {
  width: 100%;
  background-color: $vms-bg-sub;
  background-color: #333333;
  padding: 0 20px;
  
  &__title {
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }
  .export {
    display: flex;
    flex-wrap: nowrap;
  }
}