.Export {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;
  padding: 5px 2px;
  background-color: #2aa963;
  border-radius: 10px;
  
  &__title {
    color: white !important;
    padding: 0 10px;
    padding-bottom: 0;
    margin-bottom: 0
  }
}
