.Export {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;
  
  &__title {
    padding: 0 10px;
    padding-bottom: 0;
    margin-bottom: 0
  }
}
