@import "../../../../assets/scss/core/variables/vms-variable";
@import "../../../../assets//scss/core//mixins/vms-mixins";

.table-chart {
  background-color: $vms-bg-sub;
  padding: 25px;
  width: 100%;
  .ant-table {
    background-color: $vms-bg-sub;
    border-radius: 12px 12px 0 0;
    border: 1px solid rgba(234, 240, 247, 0.1);

    .ant-table-title {
      padding: 13px 16px;
      h4 {
        margin-bottom: 0;
        font-size: 1.6rem;
      }
    }
    .roleRow {
      height: 50px !important;
    }

    .ant-table-thead {
      .ant-table-cell {
        background-color: $vms-bg-3;
        padding: 13px 0 11px 16px;
        color: $vms-soft-statuts;
        border-top: 1px solid rgba(234, 240, 247, 0.1);
        border-bottom: 1px solid rgba(234, 240, 247, 0.1);
        font-weight: 600;
      }
    }

    .ant-table-tbody {
      .ant-table-cell {
        background-color: $vms-bg-primary;
        padding: 13px 0 11px 16px;
        color: $vms-soft-statuts;
        border-top: 1px solid rgba(234, 240, 247, 0.1);
        border-bottom: 1px solid rgba(234, 240, 247, 0.1);
      }

      .ant-table-cell:last-child {
        padding: 0;
        text-align: left;
        height: 50px;
        padding: 0 16px;
        span {
          svg {
            font-size: 2rem;

            color: $vms-soft-statuts;
            margin: 4px;
            &:hover {
              color: $vms-main-blue-primary;
            }
          }
        }
      }

      .ant-table-placeholder {
        .ant-table-cell {
          width: 100% !important;
          height: auto;
          display: table-cell;
          color: $vms-status-07;
        }
      }
    }
    .ant-table-tbody > tr.ant-table-placeholder {
      height: 50px !important;
    }

    //end: head table
  }
}
