
.grid-1 {
  margin-right: 10px;
  width: 35px;
  height: 35px;
  background-color: #1380ff;
}

.grid-2 {
  margin-top: -15px;
  margin-right: 40px;
  width: 15px;
  height: 15px;
  background-color: #1380ff;
  box-shadow: 20px 0px 0 0 #1380ff, 0px 20px 0 0 #1380ff, 20px 20px 0 0 #1380ff;
}

.grid-3 {
  margin-right: 40px;
  width: 10px;
  height: 10px;
  background-color: #1380ff;
  box-shadow: 15px 0px 0 0 #1380ff, 30px 0px 0 0 #1380ff, 45px 20px 0 0 #1380ff,
  0px 15px 0 0 #1380ff, 15px 30px 0 0 #1380ff, 0px 35px 0 0 #1380ff;
}