@import "../../../assets/scss/core/variables/vms-variable";

@import "../../../assets/scss/core/variables/vms-variable";

.add__role--card {
  background-color: $vms-black;
  border: solid 1px rgba(234, 240, 246, 0.1) !important;
  margin-top: 48px;
  border-radius: 12px;

  .ant-card-body {
    margin-top: 32px;
    h4 {
      margin-bottom: 0px;
      font-size: 20px;
      padding-left: 8px;
      font-weight: 600;
    }

    p {
      line-height: 40px;
    }

    .ant-form-item-control-input {
      border-radius: 6px;

      input {
        border: 1px solid rgba(234, 240, 247, 0.1) !important;
        background-color: $vms-bg-sub !important;
        color: $vms-status;
      }
    }

    //begin: sex
    .ant-select-selector {
      background-color: $vms-bg-sub !important;
    }
    //end: sex

    //end: date of birth

    //begin: submit
    .submit {
      float: unset;
      .ant-btn {
        background-color: #1380ff !important;
        border: none;
        padding: 8px 36px;
        line-height: 16px;
        border-radius: 4px;

        span {
          color: #ffffff;
        }
      }
    }

    //end: submit
  }
}
