@import "../../../assets/scss/core/variables/vms-variable";
@import "../../../assets/scss/core/mixins/vms-mixins";

.viewFileContainer {
  padding-left: 12px !important;
  padding-right: 12px !important;

  .screenView {
    background-color: #333333;
    min-height: 500px;

    .displayScreen {
      height: 100%;

      .iconPoster {
        width: 100%;
        height: 100%;
      }

      .iconPoster.hidden {
        display: none;
      }
    }

    .displayScreen.hidden {
      display: none;
    }

    .volume {
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      display: flex;
      flex-flow: row-reverse;
      padding: 15px;

      .max {
        width: 20px;
        height: 20px;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        display: flex;
        align-self: center;
        margin-left: 5px;

        .icon {
          width: 20px;
          height: 20px;
          color: $vms-status-07;
          cursor: pointer;
        }
      }

      .valueInProgress {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        margin-right: 3px;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;

        span {
          color: #1380ff;
        }
      }

      .min {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        display: flex;
        align-self: center;
        margin-right: 5px;

        .icon {
          width: 20px;
          height: 20px;
          color: $vms-status-07;
          cursor: pointer;
        }
      }

      .inProgress {
        display: flex;
        align-self: center;
        min-width: 30em;

        .inputRangeSlider {
          width: 100%;
          cursor: pointer;
        }
      }
    }
  }

  .playControl {
    margin: 15px 0;

    .watchBack {
      width: 234px;
      height: 39px;
      background: #1380ff;
      border-radius: 4px;
      color: #fafcff;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      align-self: center;
      justify-content: center;

      .icon {
        height: 20px;
        width: 20px;
      }

      .play {
        width: 40px;
        justify-content: center;
        display: flex;
        flex: 0.7;
        // border:  1px solid;
        border-right-color: #fcfeff;
      }

      .border {
        border: 0.1px solid;
        height: 100%;
      }

      .viewOut {
        flex: 2;
        display: flex;

        .time {
          padding: 0 5px;
        }
      }

      .viewIn {
        flex: 2;

        .time {
          padding: 5px;
        }
      }
    }

    .actionControl {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .playIconContainer,
      .playIconContainer__disabled {
        display: flex;
        width: 36px;
        height: 36px;
        background: $vms-bg-sub;
        border-radius: 36px;
        margin: 10px 17px;

        .playIcon {
          width: 18px;
          height: 18px;
          margin: auto;
          color: $vms-status-07;
        }
      }

      .playIconContainer__disabled {
        .playIcon {
          color: $vms-bg-3;
        }
      }

      .playIconContainer:hover {
        border: 1px solid #1380ff;
        cursor: pointer;
      }

      .playIcon2Container,
      .playIcon2Container__disabled {
        display: flex;
        width: 56px;
        height: 56px;
        background: $vms-main-blue-primary;
        border-radius: 36px;

        .playIcon2 {
          width: 28px;
          height: 28px;
          margin: auto;
          color: $vms-status-07;
        }
      }

      .playIcon2Container__disabled {
        background: $vms-bg-sub;

        .playIcon2 {
          color: $vms-bg-3;
        }
      }

      .playIcon2Container:hover {
        background: #3692fc;
        cursor: pointer;
      }
    }

    .captureContainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .action {
        height: 24px;
        width: 24px;
        color: $vms-status-07;
        margin: 10px 7px;
      }

      .action__disabled {
        height: 24px;
        width: 24px;
        color: $vms-bg-sub;
        margin: 10px 7px;
      }

      .action:hover {
        cursor: pointer;
        color: $vms-blue;
      }

      .ogLabel {
        height: 24px;
        width: 40px;
        margin: 10px 7px;
        padding-left: 4px;
        padding-top: 1px;
        background-color: #ff9f43;
        color: #fff9f9;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
      }
    }
  }

  .tableEventFile {
    .iconType {
      color: $vms-blue;
      width: 22px;
      height: 22px;
    }

    .ant-table-body {
      height: 280px;
      background: $vms-black;
      @include scrollbar-styling(12px, 12px);
    }

    .ant-table-placeholder {
      height: 280px;
      background: $vms-black;
    }

    .ant-select {
      width: 100%;
    }

    .ant-select-selector {
      border: none !important;
      background-color: transparent;
    }

    .ant-input {
      border: none !important;
    }

  }

  .eventFileDetail {
    width: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: $vms-status-07;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 20px !important;

    .title {
      font-weight: bold;
      font-size: 14px;
      color: $vms-status;
      margin-bottom: 10px;
    }

    .pathFile {
      color: $vms-main-blue-primary;
    }

    .iconType {
      color: $vms-main-blue-primary;
      width: 16px;
      height: 16px;
    }
  }
}

.FileListContainer {
  padding: 10px;
  background: #191919;

  .rowMode {
    margin: 10px 0;

    .modeView {
      display: flex;
      justify-content: flex-end;

      .iconContainer {
        width: 32px;
        height: 32px;
        cursor: pointer;
        border-collapse: separate;

        .icon {
          width: 32px;
          height: 32px;
          padding: 5px 5px;
          color: $vms-status-07;
          border-radius: 4px;
        }

        .iconActive {
          background: #1380ff;
        }
      }
    }

    .sourceView {
      display: flex;
      justify-content: flex-start;

      .iconContainer {
        width: 32px;
        height: 32px;
        border-radius: 4px;
        cursor: pointer;

        .icon {
          width: 32px;
          height: 32px;
          padding: 5px 5px;
          color: $vms-status-07;
          border-radius: 4px;
        }

        .iconActive {
          background: #1380ff;
        }
      }
    }
  }

  .search {
    background-color: #1380ff;
    width: 32px;
    float: right;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;

    .icon {
      width: 32px;
      height: 32px;
      padding: 5px 5px;
      color: #fcfeff;
    }
  }

  // table file
  .formSearch {
    //padding-right: 25px;
    .itemRow {
      margin-top: 1rem !important;
    }

    .dropdown {
      padding: 0 !important;
    }

    .iconContainer {
      margin-top: 1rem !important;
      width: 25px;
      height: 25px;
      cursor: pointer;
      border-collapse: separate;

      .icon {
        width: 25px;
        height: 25px;
        color: $vms-status-07;
        border-radius: 4px;
      }
    }

    .search__bar {
      justify-content: space-between;
      display: flex;

      .ant-select-auto-complete {
        width: 100%;
        height: 40px;
      }

      .ant-select-selection-placeholder {
        position: relative;

        span:last-child {
          color: $vms-status-05;
        }

        .anticon {
          font-size: 20px;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
        }

        .placeholder__text {
          position: absolute;
          margin-top: 5px;
        }
      }
    }
  }

  .iconType {
    color: $vms-blue;
    width: 22px;
    height: 22px;
  }

  // view data
  .tableData {

    .gridEventFileContainer {
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 12px;
      color: $vms-status-07;

      .gridEventFileItem {
        ul {
          margin-bottom: 0;
        }

        li {
          list-style-type: none;
          position: relative;
          margin: 2px;
          padding: 0.5em 0.5em 0.5em 2.5em;
          line-break: anywhere;
        }

        li.eventName {
          font-weight: bold;
          font-size: 14px;
          color: $vms-status;
          padding-top: 0;
          padding-left: 0.6em;
        }

        li.pathFile {
          color: $vms-main-blue-primary;
        }

        li.name::before {
          content: "";
          background: transparent url("../../../assets/img/icons/folder.png") no-repeat center;
          background-size: contain;
          position: absolute;
          height: 14px;
          top: 1.3em;
          left: 0.6em;
          margin-top: -1em;
          width: 14px;
        }

        li.pathFile::before {
          content: "";
          background: transparent url("../../../assets/img/icons/camera-list/cameraUrl.png") no-repeat center;
          background-size: contain;
          position: absolute;
          height: 14px;
          top: 1.3em;
          left: 0.6em;
          margin-top: -1em;
          width: 14px;
        }

        li.cameraName::before {
          content: "";
          background: transparent url("../../../assets/img/icons/camera.png") no-repeat center;
          background-size: contain;
          position: absolute;
          height: 14px;
          top: 1.3em;
          left: 0.6em;
          margin-top: -1em;
          width: 14px;
        }

        li.createdTime::before {
          content: "";
          background: transparent url("../../../assets/img/icons/calendar.png") no-repeat center;
          background-size: contain;
          position: absolute;
          height: 14px;
          top: 1.3em;
          left: 0.6em;
          margin-top: -1em;
          width: 14px;
        }

        li.address::before {
          content: "";
          background: transparent url("../../../assets/img/icons/camera-list/address.png") no-repeat center;
          background-size: contain;
          position: absolute;
          height: 14px;
          top: 1.3em;
          left: 0.6em;
          margin-top: -1em;
          width: 14px;
        }
      }

      .gridFileImage {
        height: 105px;
        background: #939596;
        text-align: center;
        cursor: pointer;

        .imageFile {
          width: 100%;
          height: 100%;
        }

        .nameFile {
          font-style: normal;
          font-weight: 500;
          font-size: 10px;
          line-height: 12px;
          color: $vms-status-07;
        }
      }

      @include paginationDontShowTotalHaveChangeSize;

      .ant-pagination {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
      }
    }

    .gridFileContainer {
      li {
        line-break: anywhere;
      }

      .data {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: stretch;
        border: $vms-border-gray;
        background-color: $vms-bg-3;
        overflow-y: auto;
        @include scrollbar-styling(12px, 0);
      }

      .box {
        padding: 5px;
        width: 33.33%;
        display: flex;

        .gridFileImage {
          // width: 33.3%;
          height: 140px;
          background: #939596;
          text-align: center;
          cursor: pointer;

          .imageFile {
            width: 100%;
            height: 120px;
          }

          .nameFile {
            font-style: normal;
            font-weight: 500;
            font-size: 10px;
            line-height: 12px;
            color: $vms-status-07;
          }
        }
      }

      @include paginationDontShowTotalHaveChangeSize;

      .ant-pagination {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
      }
    }
  }
}

.timeDuration {
  display: flex;
  flex-direction: row-reverse;
  height: 24px;

  .text {
    color: $vms-status-07;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }
}

.tooltip {
  width: 32px;
  display: inline-block;
  overflow: hidden !important;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.snapshotCanvas {
  display: none;
}

.table__list--file {
  .ant-table {
    background-color: $vms-bg-sub;
    border: 1px solid rgba(234, 240, 247, 0.1);

    table {
      border-collapse: collapse;
    }

    .ant-table-body {
      @include scrollbar-styling(12px, 12px);
      background: $vms-black;
    }

    .ant-table-tbody {
      background: $vms-black;
    }

    .ant-table-tbody > tr.ant-table-placeholder:hover > td {
      background: $vms-black;
    }

    .ant-empty-description {
      color: $vms-status-07;
    }

    .ant-table-thead .ant-table-cell {
      background-color: $vms-bg-sub;
      padding: 13px 8px 13px 8px;
      color: $vms-soft-statuts;
      border-top: 1px solid rgba(234, 240, 247, 0.1);
      border-bottom: 1px solid rgba(234, 240, 247, 0.1);
      font-weight: 600;
    }

    .ant-table-tbody > tr > td {
      border-bottom: 1px solid rgba(234, 240, 247, 0.1);
      box-sizing: border-box;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: $vms-status-07;
    }

    .ant-table-tbody .ant-table-cell {
      padding: 16px 8px 16px 8px;
    }

    .ant-table-tbody .ant-table-cell > span {
      color: $vms-status-07;
    }

    .ant-table-tbody > tr.ant-table-row-level-0:hover > td {
      background: $vms-bg-sub;
      cursor: pointer;
    }

    .ant-table-tbody > tr.selected > td {
      background: $vms-bg-sub;
    }

    .ant-table-cell-fix-left,
    .ant-table-cell-fix-right {
      background: $vms-black;
    }

    .ant-col > li {
      line-break: anywhere;
    }

  }

  @include paginationDontShowTotalHaveChangeSize;

  .ant-pagination {
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
  }
}

.height-table {
  .ant-table-body {
    height: 755px;
  }

  .ant-table-empty {
    tbody {
      height: 649px;
    }
  }
}


.actionEventFile {
  .icon {
    color: $vms-status-07;
    width: 22px;
    height: 22px;
  }

  .icon:hover {
    color: $vms-blue;
  }

  .icon-active {
    color: $vms-blue;
    width: 22px;
    height: 22px;
  }

  .icon-active:hover {
    color: $vms-status-07;
  }
}

.actionFile {
  .icon {
    color: $vms-status-07;
    width: 18px;
    height: 18px;
    margin-right: 3px;
  }

  .icon:hover {
    color: $vms-blue;
  }

  .icon-active {
    color: $vms-blue;
    width: 18px;
    height: 18px;
    margin-right: 3px;
  }

  .icon-active:hover {
    color: $vms-status-07;
  }
}

.actionEventFileInActive {
  .icon {
    color: $vms-blue;
    width: 22px;
    height: 22px;
  }
}

.fileInfoPopover {
  .rootRow {
    width: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: $vms-status-07;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 20px !important;
  }

  .title {
    font-weight: bold;
    font-size: 14px;
    color: $vms-status;
    margin-bottom: 10px;
  }

  .iconEdit {
    color: $vms-main-blue-primary;
    width: 14px;
    height: 14px;
    cursor: pointer;
    margin-left: 5px;
  }

  .pathFile {
    color: $vms-main-blue-primary;
    line-break: anywhere;
  }

  .address {
    line-break: anywhere;
  }

  .iconType {
    color: $vms-main-blue-primary;
    width: 16px;
    height: 16px;
  }

  .ant-popover-title {
    color: $vms-soft-statuts;
    border-bottom: 1px solid rgba(234, 240, 247, 0.1);
  }

  .ant-popover-inner {
    background: $vms-bg-sub;
    width: 600px;
  }

  .ant-popover-arrow-content {
    background-color: $vms-bg-sub;
  }
}

.fileInfoPopoverHidden {
  display: none;
}

.actionEventFilePopover {
  .ant-select {
    width: 300px;
  }

  .ant-popover-title {
    color: $vms-soft-statuts;
    border-bottom: 1px solid rgba(234, 240, 247, 0.1);
  }

  .ant-popover-inner {
    background: $vms-bg-sub;
  }

  .ant-popover-arrow-content {
    background-color: $vms-bg-sub;
  }
}

.ant-select-item-option-content {
  .field-name {
    color: $vms-main-blue-primary !important;
    font-size: x-small;
  }
}

.ant-select-item-option-selected {
  .field-name {
    color: $vms-status-07 !important;
    font-size: x-small;
  }
}

.ant-select-selection-item {
  .field-name {
    color: $vms-main-blue-primary !important;
    font-size: x-small;
  }
}

.disable-select {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
