$zindex-cam-full-grid : 1100;
$zindex-menu-panel: 1109;
$zindex-control-panel: 1200;
$zindex-video: 10;
$zindex-toolbar-control-cam: 100;
$zindex-video-info: 11;
$zindex-video-label: 11;
$zindex-map-filter-dropdown-list: 1900;
$zindex-map-toggle-collapse: 101;
$zindex-map-cam-filter: 101;
$zindex-map-cam-form: 100;
$zindex-map-cam-live: 100;
$zindex-map-cam-list: 1110;
$zindex-map-popup-info-loading: 10;
$zindex-map-live-card-full: 999;
$zindex-playback_control_datetime: 1200;
$zindex-favourite-screen: 100;
// $zindex-preset: 200;
