.ant-tag-success {
    background-color: rgba(40, 199, 111, 0.2) !important;
    border-radius: 6px;
    border-color: #b7eb8f !important;
}

.ant-tag-error {
    background-color: rgba(234, 84, 85, 0.2) !important;
    border-radius: 6px;
    border-color: #ffa39e !important;
}