@import "../../../../assets/scss/core/variables/vms-variable";
@import '../../../../assets/scss/core/mixins/vms-mixins';

.add__user--card {
  background-color: $vms-black;
  border: solid 1px rgba(234, 240, 246, 0.1) !important;
  margin-top: 48px;
  border-radius: 12px;
  padding-top: 32px;

  .ant-card-body {
    h4 {
      margin-bottom: 0px;
      font-size: 20px;
      padding-left: 8px;
      font-weight: 600;
    }

    .ant-upload {
      background-color: $vms-bg-sub;
      border-radius: 50%;
      border: solid 1px rgba(234, 240, 246, 0.1) !important;
      height: 130px;
      width: 130px;
      div,
      svg {
        color: $vms-status-05;
      }
      .ant-avatar{
        // height: 100% !important;
        // width: 100% !important;
      }
    }

    p {
      line-height: 40px;
    }

    .ant-form-item-control-input {
      border-radius: 6px;

      input {
        border: 1px solid rgba(234, 240, 247, 0.1) !important;
        background-color: $vms-bg-sub !important;
        color: $vms-status;
      }
      input::placeholder {
        color: $vms-status-05;
      }
    }

    //begin: sex
    .ant-select-selector {
      background-color: $vms-bg-sub !important;
      span.ant-select-selection-placeholder {
        color: $vms-status-05 !important;
      }
    }
    //end: sex

    //begin: date of birth
    .ant-picker {
      width: 100%;
      border: 1px solid rgba(234, 240, 247, 0.1);
      background-color: $vms-bg-sub;

      input {
        border: none !important;
      }
    }
    //end: date of birth
    .phone__input {
      .ant-form-item-control-input {
        border: $vms-border-gray;
        .MuiFormControl-root{
          height: 40px;
          width: 100%;
          .MuiInput-root{
            // border: $vms-border-gray;
            height: 40px;

            .MuiInput-input{
              border:0 !important;
              height: 40px;
              font-size: 1.4rem;
              padding: 0;
            }
            .MuiButtonBase-root{
              svg {
                width: 20px;
              }
            }
          }
          .css-1480iag-MuiInputBase-root-MuiInput-root{
            &::after,&::before {
              border: 0;
            }
          }
        }
      }
      
    }
    //begin: submit
    .submit {
      float: unset;
      padding-top: 32px !important;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row-reverse;
      .ant-btn {
        background-color: #1380ff !important;
        border: none;
        padding: 8px 24px;
        line-height: 16px;
        border-radius: 4px;

        span {
          color: #ffffff;
        }
      }

      .ant-btn:first-child {
        margin-left: 16px;
        background-color: transparent !important;
        border: 1px solid $vms-main-blue-primary;
        border-radius: 4px;
        span {
          color: $vms-main-blue-primary;
        }
      }
    }

    //end: submit
  }
}

.PhoneInputCountrySelect { 
  background: #191919;
  color: rgba(208, 229, 255, 0.7);
  @include scrollbar-styling(7px, 0);
  &::-webkit-scrollbar-track {
    background-color: $vms-bg-3;
    box-shadow: inset 1px 0 $vms-bg-3;
  }
}

.PhoneInputCountryIconImg {
  color: rgba(208, 229, 255, 0.7);
}

@include modal-confirm();