

[dir] .ant-radio-checked .ant-radio-inner {
  border-color: #7367F0;
}

[dir] .ant-radio-checked::after {
  border: 1px solid #7367F0;
  border-radius: 50%;
}

[dir] .ant-radio-inner::after {
  background-color: #7367F0;
  border-top: 0;
  border-radius: 8px;
  transform: scale(0);
}

.ant-input-number:focus {
  border-color: #7367F0;
}
.ant-input-number:hover {
  border-color: #7367F0;
}

[dir] .ant-picker:hover, [dir] .ant-picker-focused {
  border-color: #7367F0;
}

[dir=ltr] .ant-radio-wrapper {
  margin-right: 80px;
}

[dir] .ant-select-multiple .ant-select-selection-item {
  margin-top: -7px;
  margin-bottom: 2px;
  background: #f5f5f5;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
  cursor: default;
}