.ChangePassWord {
  background-color: #191919;
  min-width: 1000px;
  
  &--card {
    background-color: #191919;
    border: 0;
    .title {
      border: 1px solid rgba(234, 240, 247, 0.1);
      border-bottom: none;
      border-radius: 12px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      padding: 20px;
      background-color: rgb(51, 51, 51);
      margin-bottom: 0;
    }
    &--border {
      border: 1px solid rgba(234, 240, 247, 0.1);
      border-radius: 12px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      padding: 20px 0;
    }
    .buttonChangePassword {
      margin: 15px;
      display: flex;
      justify-content: center;
    }
    .ant-card-body {
      padding: 0px !important;
    }
  }
}