@import "../../../assets/scss/core/variables/vms-variable";
@import "../../../assets/scss/core/mixins/vms-mixins";

.search .ant-select-selector {
  background-color: $vms-bg-sub !important;
}

.ant-select-selection-placeholder {
  span {
    color: $vms-status-05 !important;
  }
}

.tabs__container--device {
  margin-top: 0px !important;

  .search {
    width: 100%;
    margin-bottom: 24px;
    display: flex;
  }

  .card--listDevice {
    margin-top: 0;
    background-color: $vms-bg-primary;
    border: none;
    
    .ant-card-head {
      border-left: 1px solid rgba(234, 240, 247, 0.1);
      border-right: 1px solid rgba(234, 240, 247, 0.1);
      border-top: 1px solid rgba(234, 240, 247, 0.1);
      
    }

    .ant-card-body {
      padding-top: 0px
    }

    .ant-table {
      background-color: $vms-bg-primary;
      border-left: 1px solid rgba(234, 240, 247, 0.1);
      border-right: 1px solid rgba(234, 240, 247, 0.1);
      border-bottom: 1px solid rgba(234, 240, 247, 0.1);
      border-radius: 0 0 12px 12px;


      

      th.ant-table-cell {
        background-color: $vms-bg-3 !important;
        color: $vms-soft-statuts;
        border-bottom: 1px solid rgba(234, 240, 247, 0.1);
        border-top: 1px solid rgba(234, 240, 247, 0.1);
        padding: 12px 0 12px 10px;
        &:first-child {
          padding-left: 16px;
        }
        &:last-child {
          text-align: center;
        }
      }
      .headerColumsColor {
        background-color: #232323 !important;
      }

      .ant-table-tbody {
        border-radius: 0 0 12px 12px;
        tr {
          td.ant-table-cell {
            background-color: $vms-bg-primary;
            color: $vms-status-07;
            border-bottom: 1px solid rgba(234, 240, 247, 0.1);
            padding: 12px 0 12px 10px;
            .ant-progress-text {
              color: $vms-status-07;
            }
          }
          td:first-child {
            text-align: center;
            padding-left: 0;
          }
          td:nth-child(4) {
            padding-right: 16px;
          }

          &:last-child {
            td {
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}
//end: zone

.ant-table-filter-dropdown {

  background-color: $vms-bg-sub !important;
}
.table__hard--drive--list {
  .ant-table {
    background-color: $vms-bg-sub;
    border: 1px solid rgba(234, 240, 247, 0.1);
    color: $vms-white;
  }
  @include paginationShowTotal;
}