@import "../../assets/scss/core/mixins/vms-mixins";
@import "../../assets/scss/core/variables/vms-variable";

.notification__scroll--infinite__wrapper {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 80px;
  position: fixed;

  .notification__scroll--infinite {
    height: 40vh;
    bottom: 15vh;
    position: absolute;

    .notifi {
      min-width: 430px;
      background: $vms-bg-primary;
      bottom: 15vh;
      width: 40vw;
      height: 40vh !important;
      border-radius: 16px 0 0 16px;
      margin-left: 24px;
      overflow-y: auto;
      z-index: 1000;
      padding: 18px 20px;
      border: $vms-border-gray;
      position: fixed;

      @include scrollbar-styling(7px, 0);
      &::-webkit-scrollbar-track {
        background-color: $vms-bg-3;
        box-shadow: inset 1px 0 $vms-bg-3;
      }

      .list__notification {
        margin-top: 0;
        padding: 0;
        position: relative;
        font-family: Montserrat;

        .notif_list {
          list-style: none;
          border-bottom: $vms-border-gray;
          padding: 18px 0 16px 0;

          &__content {
            &--header {
              display: flex;
              align-items: center;

              .notif__description {
                flex: 2;
                display: flex;
                align-items: center;

                .notif__title {
                  font-weight: 600;
                  font-size: 1.6rem;
                  height: 28px;
                  line-height: 28px;

                  .ant-typography {
                    color: $vms-main-blue-primary;
                    width: 12.4vw;
                    margin-right: 8px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    span {
                      color: $vms-main-blue-primary;
                    }
                  }
                }

                .notif__day,
                .notif__time {
                  font-weight: 500;
                  color: $vms-main-blue-primary;
                  font-size: 14px;
                  border-left: 1px solid $vms-main-blue-primary;
                  display: flex;
                  justify-content: center;
                  flex-shrink: 1;
                  min-width: 90px;
                  height: 18px;
                  line-height: 18px;
                  padding-left: 8px;
                  padding-right: 8px;
                }
              }

              .notif__icon {
                flex: 1;
                display: flex;
                justify-content: end;
              }

              .yellow {
                background-color: #ff9f43 !important;
                width: 24px;
                height: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
                svg {
                  font-size: 2rem;
                  color: $vms-bg-primary;
                }
              }
              .red {
                background-color: $vms-red-drak-mode !important;
              }
            }

            &--body {
              padding-top: 8px;
              color: $vms-soft-statuts;
              white-space: normal;
              font-weight: 500;
              font-size: 1.4rem;
            }
          }

          &:first-child {
            padding-top: 0;
          }
        }
      }
    }

    .seen {
      border-bottom: $vms-border-gray !important;
      background-color: $vms-bg-primary;

      .notif__title {
        
        .ant-typography {
          color: $vms-soft-statuts !important;
          span {
            color: $vms-soft-statuts !important;
          }
        }
      }
      
      .notif__day,
      .notif__time {
        color: $vms-status-05 !important;
        border-left: 1px solid rgba(227, 240, 255, 0.5) !important;
      }

      .notif_list__content--body {
        color: $vms-status-07 !important;
      }
    }
  }
}
