body {
  background-color: #191919;
  min-width: 1920px;
}

.containerReport {
  display: flex;
  background-color: #191919;
  margin-left: 16%;
  // height: 90vh;
  width: 1240px;
  overflow: auto;
  overflow-x: auto;
}