@import "../../../assets/scss/core/variables/vms-variable";
@import "../../../assets/scss/core/mixins/vms-mixins";

.PhoneInputCountrySelect {
  background: #191919;
  color: rgba(208, 229, 255, 0.7);
  @include scrollbar-styling(7px, 0);
  &::-webkit-scrollbar-track {
    background-color: $vms-bg-3;
    box-shadow: inset 1px 0 $vms-bg-3;
  }
}

.PhoneInputCountryIconImg {
  color: rgba(208, 229, 255, 0.7);
}

.PhoneInputCountry {
  margin-left: 10px;
}
