@import '../../../assets/scss/core/variables/vms-variable';
.pd-top-bottom {
    padding-top: 200px !important;
    padding-bottom: calc(100vh - 453px)!important;
    background-color: #f8f8f8;
    .input__email--forgot-password {
        input {
            height: 3.2rem;
            font-size: 1.4rem;
            &::placeholder {
                font-size: 1.4rem;
            }
        }
        label {
            font-size: 1.4rem !important;
            padding: 0 !important;
        }
    }
    .h100 {
        height: 100%;
        background-color: #10163a;
    }
    .fp {
        &__title {
            color: #ebeefd;
        }
        &__desc {
            color: #c2c6dc !important;
        }
        &__input {
            background-color: #262c49;
            border: 0;
            color: #c2c6dc;
        }
        &__input:focus {
            background-color: #262c49;
            border: 0;
            color: #c2c6dc;
        }
    }
}

[dir] .btn:not(:disabled):not(.disabled) {
    font-size: 14px;
    padding: 10px;
}