

.reset__password{
    .col2 {
        &_bgColor { 
            background-color: #10163a !important;
            height: 100%;
        }
    
        &_color {
            color: #ebeefd;
        }
    
        &_auth-titleColor {
            color: #c2c6dc;
            margin-top: 10px;
        }
    
        &_input {
            background-color: #262c49;
            color: #ebeefd;
            border: 0;
        }
        &_input:active, &_input:focus {
            background-color: #262c49;
            border: 0;
            color: #ebeefd;
        }
    }
    .form-group{
        #input__password{
            height: 3.2rem;
            font-size: 1.4rem;
        }
        label{
            font-size: 1rem !important;
            height: 100%;
        }

        
    }
    form .react-ripples{
        display: flex !important;
        justify-content: end;
        .btn-block{
            width: 8vw;
            padding: 8px;
            min-width: 95px;

        }
    }

    .card-body{
        position: relative;
        & > .react-ripples{
            position: relative !important;
            top: -28px;
            width: 12vw;
            min-width: 140px;
            button{
                padding: 8px;

            }
        }
    }
}