@import "../../assets/scss/core/variables/vms-variable";
@import '../../assets/scss/core/mixins/vms-mixins';

.tabs__container--config_rect {

  &.disabled { opacity: 0.5; }

  .ant-form-item-control-input-content {
    background-color: transparent;
  }



  .ant-table {
    background-color: $vms-bg-sub;
    border: 1px solid rgba(234, 240, 247, 0.1);

    table {
      border-collapse: collapse;
    }

    .ant-table-body {
      @include scrollbar-styling(12px, 12px);
      background: $vms-black;
    }

    .ant-table-tbody {
      background: $vms-black;
    }

    .ant-table-tbody > tr.ant-table-placeholder:hover > td {
      background: $vms-black;
    }

    .ant-empty-description {
      color: $vms-status-07;
    }

    .ant-table-thead .ant-table-cell {
      background-color: $vms-bg-sub;
      padding: 13px 8px 13px 8px;
      color: $vms-soft-statuts;
      border-top: 1px solid rgba(234, 240, 247, 0.1);
      border-bottom: 1px solid rgba(234, 240, 247, 0.1);
      font-weight: 600;
    }

    .ant-table-tbody > tr > td {
      border-bottom: 1px solid rgba(234, 240, 247, 0.1);
      box-sizing: border-box;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: $vms-status-07;
    }

    .ant-table-tbody .ant-table-cell {
      padding: 16px 8px 16px 8px;
    }

    .ant-table-tbody .ant-table-cell > span {
      color: $vms-status-07;
    }

    .ant-table-tbody > tr.ant-table-row-level-0:hover > td {
      background: $vms-bg-sub;
      cursor: pointer;
    }

    .ant-table-tbody > tr.selected > td {
      background: $vms-bg-sub !important;
    }

    .ant-table-cell-fix-left,
    .ant-table-cell-fix-right {
      background: $vms-black;
    }

    .ant-col > li {
      line-break: anywhere;
    }

  }

  .table__config_rect {
    .ant-table {
      background-color: $vms-bg-sub;
      border: 1px solid rgba(234, 240, 247, 0.1);

      //begin: title table
      .ant-table-title {
        padding: 10px 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h4 {
          margin-bottom: 0;
          font-size: 16px;
        }
        
        button {
          width: 40px;
          height: 40px;
          padding: 9px;
          margin-right: 0 !important;
          background-color: $vms-main-blue-primary;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 4px;

          &:hover {
            box-shadow: 0 0 8px $vms-main-blue-primary;
          }

          span {


            svg {
              font-size: 20px;
            }
          }
        }
      }

      //end: title table

      //begin: head table
      .ant-table-thead {

        .ant-table-cell {
          background-color: $vms-bg-3;
          padding: 13px 0 11px 16px;
          color: $vms-soft-statuts;
          border-top: 1px solid rgba(234, 240, 247, 0.1);
          border-bottom: 1px solid rgba(234, 240, 247, 0.1);
          font-weight: 600;
        }

        tr th {
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4),
          &:nth-child(5) {
            text-align: center;
            padding: 13px 8px;
          }
        }

        tr > th:last-child {
          padding: 0 16px;
          text-align: center;

        }
      }

      .ant-table-tbody {

        .ant-table-cell {
          background-color: $vms-bg-primary;
          // font-weight: 500;
          padding: 13px 0 11px 16px;
          color: $vms-status-07;

          border-top: 1px solid rgba(234, 240, 247, 0.1);
          border-bottom: 1px solid rgba(234, 240, 247, 0.1);

          .ant-typography {
            color: $vms-status-07;
          }
        }

        tr > td:last-child {
          padding: 0 16px;

          svg:hover {
            color: $vms-main-blue-primary
          }
        }

        .ant-table-tbody > tr.selected > td {
          background: $vms-bg-sub;
        }

        tr td {
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4),
          &:nth-child(5) {
            padding: 13px 8px;
            text-align: center;

            .ant-checkbox-inner {
              background-color: $vms-bg-primary;
              border: 1px solid $vms-main-blue-primary
            }

            .ant-checkbox-checked {
              .ant-checkbox-inner {
                background-color: $vms-main-blue-primary;

                svg {
                  color: $vms-soft-statuts
                }
              }
            }
          }
        }


      }

      //end: head table
    }

    


  }

  .canvas-slot {
    position: absolute;
    z-index: 1;
    //background-color: rgba(255, 0, 0, 0.2);
  }

  button[disabled], button:disabled, ant-form-item-control-input-content:disabled, ant-form-item-control-input-content[disabled]{
    background-color: #333333;
    border: 1px solid rgba(234, 240, 247, 0.1)
  }

  [dir] .ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector{
    background-color: #333333 !important;
    border: 1px solid rgba(234, 240, 247, 0.1)
  }

}
.select-direction {
  width: 100px;
  
  .ant-select-single {
    width: 100%;
  }
}
.align-items_center {
  align-items: center;
}
