@import "../../assets/scss/core/variables/vms-variable";
@import '../../assets/scss/core/mixins/vms-mixins';

.tabs__container--ai_config{
    .activate .ant-checkbox-wrapper{
    margin: 30px;
    }
    .react-calendar-timeline{
        width: 941px;

        .rct-dateHeader-primary {
            height: 0px;
        }
    }
    .ant-form-item-control-input-content{
        background-color: none;
    }

    .footer__modal {
        .ant-btn{
            margin: 15px;
        }
    }

}
