@import "../../assets/scss/core/variables/vms-variable";
@import '../../assets/scss/core/mixins/vms-mixins';

.tabs__container--config_schedule{

    .react-calendar-timeline{
        width: 941px;
    }
    .ant-form-item-control-input-content{
        background-color: none;
    }

    .footer__modal {
        .ant-btn{
            margin: 15px;
        }
    }

}
